{% extends 'base.html.twig' %}

{% block title %}Forum trop cool{% endblock %}

{% block body %}
    
    <p>Bonjour et bienvenue sur ce magnifique forum dégueulasse sans CSS</p>

    <p>A quelle partie du forum voulez-vous vous rendre ?</p>

    <a href="creations">Viens voir les créations</a>
    <br>
    <a href="discussions">Viens voir les discussions</a>

{% endblock %}
